<p>Dear <%= name %>,</p>

<p>We heard you lost your password and couldn't log in to your account over at <a href="http://boxe.sg">Boxe.sg</a>.</p>

<p>Click on the link below to reset your password. <br />
<a href="http://boxe.sg/reset-password/<%= code %>">http://boxe.sg/reset-password/<%= code %></a></p>

<p>Cheers,<br />
The Boxe Team</p>
