<div class="row">
  <div class="col-md-12 col-sm-12" id="site-shortener-form">
    <script>
        var domainData = <%- JSON.stringify(domainData) %>;
    </script>
    <%- shortenForm %>
  </div>
</div>
