<div class="row">
  <div class="col-md-12 col-sm-12" id="site-shortener-form">
    <script>
        var domainData = <%- JSON.stringify(domainData) %>;
    </script>
    <%- shortenForm %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12" id="siteIndexUrlList">
    <script>
        var urlData = <%- JSON.stringify(urlData) %>;
    </script>
    <%- urlTopList %>
  </div>
  <div class="col-md-6 col-sm-12" id="siteLocationList">
    <script>

    </script>

  </div>
</div>
