<p>Hi <%= user.firstName %>,</p>

<p>Thanks for creating an account with us.</p>

<p>
  Use the link below to activate your Boxe Account. Click the following link to activate.<br />
  <a href="http://boxe.sg/activate-user/<%= user.code %>">http://boxe.sg/activate-user/<%= user.code %></a>
</p>

<p>Cheers,<br />
The Boxe Team</p>
