<!--right sidebar start-->
<div class="right-sidebar">
<div class="search-row">
    <input type="text" placeholder="Search" class="form-control">
</div>
  <%- AccountService.getAllDomain() %>
</div>
<!--right sidebar end-->
